html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

button, [type='button'], [type='reset'], [type='submit'] {
  appearance: none;
  background-color: #18BC9C;
  border: 0;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-decoration: none;
  transition: background-color 150ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, button:focus, [type='button']:hover, [type='button']:focus, [type='reset']:hover, [type='reset']:focus, [type='submit']:hover, [type='submit']:focus {
    background-color: #13967d;
    color: #fff; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover {
      background-color: #18BC9C; }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 600;
  margin-bottom: 0.375em;
  padding: 0; }

label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.375em; }

input,
select,
textarea {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 1em; }

[type='color'], [type='date'], [type='datetime'], [type='datetime-local'], [type='email'], [type='month'], [type='number'], [type='password'], [type='search'], [type='tel'], [type='text'], [type='time'], [type='url'], [type='week'], input:not([type]), textarea,
select[multiple] {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color 150ms ease;
  width: 100%; }
  [type='color']:hover, [type='date']:hover, [type='datetime']:hover, [type='datetime-local']:hover, [type='email']:hover, [type='month']:hover, [type='number']:hover, [type='password']:hover, [type='search']:hover, [type='tel']:hover, [type='text']:hover, [type='time']:hover, [type='url']:hover, [type='week']:hover, input:not([type]):hover, textarea:hover,
  select[multiple]:hover {
    border-color: #b1b1b1; }
  [type='color']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='email']:focus, [type='month']:focus, [type='number']:focus, [type='password']:focus, [type='search']:focus, [type='tel']:focus, [type='text']:focus, [type='time']:focus, [type='url']:focus, [type='week']:focus, input:not([type]):focus, textarea:focus,
  select[multiple]:focus {
    border-color: #18BC9C;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(18, 89, 169, 0.7);
    outline: none; }
  [type='color']:disabled, [type='date']:disabled, [type='datetime']:disabled, [type='datetime-local']:disabled, [type='email']:disabled, [type='month']:disabled, [type='number']:disabled, [type='password']:disabled, [type='search']:disabled, [type='tel']:disabled, [type='text']:disabled, [type='time']:disabled, [type='url']:disabled, [type='week']:disabled, input:not([type]):disabled, textarea:disabled,
  select[multiple]:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    [type='color']:disabled:hover, [type='date']:disabled:hover, [type='datetime']:disabled:hover, [type='datetime-local']:disabled:hover, [type='email']:disabled:hover, [type='month']:disabled:hover, [type='number']:disabled:hover, [type='password']:disabled:hover, [type='search']:disabled:hover, [type='tel']:disabled:hover, [type='text']:disabled:hover, [type='time']:disabled:hover, [type='url']:disabled:hover, [type='week']:disabled:hover, input:not([type]):disabled:hover, textarea:disabled:hover,
    select[multiple]:disabled:hover {
      border: 1px solid #ddd; }

textarea {
  resize: vertical; }

[type="search"] {
  appearance: none; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

[type="file"] {
  margin-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 0.75em;
  max-width: 100%;
  width: auto; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #a6a6a6;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.25em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #18BC9C;
  text-decoration: none;
  transition: color 150ms ease; }
  a:active, a:focus, a:hover {
    color: #128d75; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

header {
  background-color: #2c3e50;
  color: white;
  padding: 40px 0; }

#logo {
  font-size: 300%; }

code#script-include, span.inline-code {
  font-family: 'Source Code Pro';
  border-radius: 5px; }

span.inline-code {
  background-color: #EEE;
  color: #333;
  padding: 0.2em; }

code#script-include {
  opacity: 0.8;
  background-color: #272822;
  color: white;
  width: 100%;
  padding: 0.5em;
  font-size: 16px;
  display: block; }

#caption, code, .code-snippit {
  margin: 0 0 0.75em; }

.output {
  background-color: #f7f7f7;
  font-size: 80%;
  border: 1px solid #ddd;
  padding: 5px;
  overflow: auto; }

.content {
  width: 540px;
  margin: 0 auto; }

.login-button {
  display: inline-block;
  box-sizing: content-box;
  background: linear-gradient(#333, #444);
  color: white;
  text-decoration: none;
  height: 32px;
  line-height: 32px;
  border-radius: 5px;
  border: 1px solid #333;
  padding-right: 12px; }
  .login-button:hover {
    text-decoration: none; }
  .login-button:before {
    background-image: url("/GitHub-Mark-Light-64px.png");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 45px;
    height: 32px;
    content: ' ';
    border-right: 1px solid #555;
    float: left;
    margin-right: 12px; }

.accordion-tabs {
  line-height: 1.5;
  margin-bottom: 1.5em;
  padding: 0; }
  .accordion-tabs::after {
    clear: both;
    content: "";
    display: block; }
  @media screen and (max-width: 600px) {
    .accordion-tabs {
      border: 1px solid #ddd;
      border-radius: 3px; } }
  .accordion-tabs .tab-header-and-content {
    list-style: none; }
    @media screen and (min-width: 600px) {
      .accordion-tabs .tab-header-and-content {
        display: inline; } }
    .accordion-tabs .tab-header-and-content:first-child .tab-link {
      border-top-left-radius: 3px;
      border-top-right-radius: 3px; }
      @media screen and (max-width: 600px) {
        .accordion-tabs .tab-header-and-content:first-child .tab-link {
          border-top: 0; } }
    @media screen and (max-width: 600px) {
      .accordion-tabs .tab-header-and-content:last-child .tab-link {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px; } }
  .accordion-tabs .tab-link {
    background-color: #fff;
    border-top: 1px solid #ddd;
    color: #333;
    display: block;
    font-weight: bold;
    padding: 0.75em 0.809em;
    text-decoration: none; }
    @media screen and (min-width: 600px) {
      .accordion-tabs .tab-link {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-top: 0;
        display: inline-block; } }
    .accordion-tabs .tab-link:hover {
      color: #18BC9C; }
    .accordion-tabs .tab-link:focus {
      outline: none; }
    .accordion-tabs .tab-link.is-active {
      background-color: #f7f7f7; }
      @media screen and (min-width: 600px) {
        .accordion-tabs .tab-link.is-active {
          background-color: #f7f7f7;
          border: 1px solid #ddd;
          border-bottom-color: #f7f7f7;
          margin-bottom: -1px; } }
  .accordion-tabs .tab-content {
    background: #f7f7f7;
    display: none;
    padding: 1.5em 1.618em;
    width: 100%; }
    @media screen and (min-width: 600px) {
      .accordion-tabs .tab-content {
        border: 1px solid #ddd;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-top-right-radius: 3px;
        float: left; } }

/*# sourceMappingURL=style.css.map */
